/* Row contains all other notification elements. */
.notification-row {
  outline: none;
}

/* Background is the next largest element. Just a box behind the notification itself. */
.notification-background {
  padding: 10px 6px;
}

/* An notification is a box that contains actions. */
.notification {
  border-radius: 5px;
  border: 1px solid rgba(37, 36, 35, 0.9);
  padding: 0px;
  background: rgba(50, 48, 47, 1);
  box-shadow:
    0 0 0 1px rgba(37, 36, 35, 0.3),
    0 1px 3px 1px rgba(37, 36, 35, 0.7),
    0 2px 6px 2px rgba(37, 36, 35, 0.3);
}

/* Just a desktop, non panel notification. */
.floating-notifications {
  background: transparent;
}

/* Content is for example the text of a telegram message, if the default action exists, the content will turn to it. */
.notification-content {
  background: transparent;
  border-radius: 5px;
  padding: 10px;
}

/* An example of a default action - this is the telegram message that will be opened by pressing. */
.notification-default-action {
  border-radius: 5px;
  padding: 4px;
  margin: 0;
  background: transparent;
  border: none;
  color: rgb(212, 190, 152);
}

.notification-default-action:hover {
  -gtk-icon-effect: none;
  background: rgba(60, 56, 54, 0.95);
}

/* Action like the "Mark as read" */
.notification-action {
  padding: 4px;
  margin: 0;
  background: transparent;
  color: rgb(212, 190, 152);
  border: none;
  border-top: 1px solid rgb(80, 73, 69);
  border-radius: 5px;
  border-right: 1px solid rgb(80, 73, 69);
}

.notification-action:hover {
  -gtk-icon-effect: none;
  background: rgba(60, 56, 54, 0.95);
}

.notification-action:first-child {
  /* add bottom border radius to eliminate clipping */
  border-bottom-left-radius: 5px;
}

.notification-action:last-child {
  border-bottom-right-radius: 5px;
  border-right: none;
}

/* Reply to message line */
.inline-reply {
  margin-top: 4px;
}

.inline-reply-entry {
  background: rgba(37, 36, 35, 0.95);
  color: rgb(212, 190, 152);
  caret-color: rgb(212, 190, 152);
  border: transparent;
  border-radius: 5px;
}

.inline-reply-button {
  margin-left: 4px;
  background: transparent;
  border: 1px solid rgba(124, 111, 100, 0.95);
  border-radius: 5px;
  color: rgb(212, 190, 152);
}

.inline-reply-button:disabled {
  background: transparent;
  color: rgba(124, 111, 100, 1);
  border-color: transparent;
}

.inline-reply-button:hover {
  background: rgba(80, 73, 69, 0.95);
}

/* Notification close button*/
.close-button {
  background: transparent;
  color: rgb(212, 190, 152);
  border-radius: 100%;
  margin-top: 5px;
  margin-right: 5px;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  background: rgba(80, 73, 69, 0.95);
}

/* Few other notification settings */
.image {
  -gtk-icon-effect: none;
  border-radius: 6px;
  margin: 4px;
  margin-right: 12px;
}

.app-icon {
  -gtk-icon-effect: none;
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: rgb(212, 190, 152);
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: rgb(212, 190, 152);
  /* margin-right: 10px; */
}

.body {
  font-size: 14px;
  font-weight: normal;
  background: transparent;
  color: rgb(212, 190, 152);
  margin-top: 5px;
}

.body-image {
  margin-top: 4px;
  background-color: white;
  border-radius: 12px;
  -gtk-icon-effect: none;
}

/* Control-center panel which contains the old notifications + widgets*/
.control-center {
  background: rgba(37, 36, 35, 1);
  color: rgb(212, 190, 152);
  border-radius: 12px;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.control-center-list {
  background: transparent;
}

.blank-window {
  background: transparent;
}

/* Notification group in control-center */
.notification-group-buttons,
.notification-group-headers {
  margin: 0 16px;
  color: rgb(212, 190, 152);
}

.notification-group-icon {
  color: rgb(212, 190, 152);
}

.notification-group-header {
  color: rgb(212, 190, 152);
}

/*** Widgets ***/
/* Title widget */
.widget-title {
  color: rgb(212, 190, 152);
  margin: 8px;
  font-size: 20px;
}

.widget-title>button {
  font-size: 16px;
  color: rgb(212, 190, 152);
  text-shadow: none;
  background: rgba(37, 36, 35, 0.9);
  border: 1px solid rgba(124, 111, 100, 0.95);
  border-radius: 12px;
}

.widget-title>button:hover {
  background: rgba(80, 73, 69, 0.9);
}

/* DND widget */
.widget-dnd {
  color: rgb(212, 190, 152);
  margin: 8px;
  font-size: 1.1rem;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 12px;
  background: rgba(37, 36, 35, 0.9);
  border: 1px solid rgba(124, 111, 100, 0.95);
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background: rgba(231, 138, 78, 0.9);
}

.widget-dnd>switch slider {
  background: rgba(50, 48, 47, 0.95);
  border-radius: 12px;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
  background: rgba(37, 36, 35, 0.9);
  border-radius: 5px;
  border: 1px solid rgba(124, 111, 100, 0.95);
  box-shadow: none;
}
