* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono NTF";
  font-size: 12px;
  min-height: 0;
  color: #ebdbb2;
  padding-top: 1px;
  padding-bottom: 1px;
}

window#waybar {
  border-bottom-style: inset;
  border-bottom: 2px solid #689d6a;
  background: #282828;
}

#workspaces,
#clock,
#custom-music,
#window {
  font-weight: 800;
}

/* Workspace Buttons */
#workspaces button label {
  color: #689d6a;
}

#workspaces button.focused label {
  color: #1d2021;
}

#workspaces button.focused {
  background: #689d6a;
}

#mode {
  background-color: #cc241d;
  color: white;
}

#clock,
#battery,
#network,
#tray,
#mode,
#custom-notification,
#idle_inhibitor {
  padding: 0 5px;
  margin: 0 10px;
}

#idle_inhibitor.activated {
  background-color: #689d6a;
  color: #1d2021;
}

#network.disconnected {
  color: #cc241d;
  border-bottom: 2px solid #cc241d;
}

#clock {
  margin: 0;
  color: #fabd2f;
  border-bottom: 2px solid #fabd2f;
}
